.form {
  display: flex;
  margin: 20px;
}

.input {
  flex: 5;
  font-size: large;
  border: none;
  border-bottom: 2px solid bisque;
  padding: 5px;
}

*:focus {
  outline: none;
}

.btn {
  flex: 1;
  background-color: bisque;
  border: none;
  cursor: pointer;
  padding: 5px;
}